{%  load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Asencio's blog</title>
        <link rel="stylesheet" type="text/css" href= "{% static 'css/blog.css' %}"/>

       
    </head>
    <body>
        {% block content %}
        {% endblock %}

    </body>
<script src="awas.js" href="{% static 'js/awas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/awas.js' %}"></script>

</html>



